<%# cache do %>
  <h1 class="text-muted text-center mb-5">
    Your book has been successfully created
  </h1>

  <p class="text-success text-center">
    The book name is <%= @book_title %>
  </p>
<%# end %>
